.board{
  background-color: #EEEEEE;
  border: 1px solid rgb(93, 121, 93);
  height: 350px;
  width: 350px;  
  margin: auto;
  margin-bottom: 15px;
}

.token{
  color: #ffffff;
  cursor: move;
  background-color: rgb(93, 121, 93);
  font-size: 4em;
  float: left;
  width: 23%;
  height: 23%;
  margin: 1%;
  text-align: center; 
   
}

.emphyToken{
  color: white; /* #bebebe;*/
  cursor: move;
  background-color: white;
  font-size:4em;
  float: left;
  width: 23%;
  height: 23%;
  margin: 1%;
  text-align: center; 
}
  
.non-selectable {
  -moz-user-select: none; 
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}
