.board{
  background-color: #EEEEEE;
  border: 1px solid rgb(93, 121, 93);
  height: 400px;
  width: 400px;
  vertical-align: middle;
}

.token{
  color: #ffffff;
  cursor: move;
  background-color: rgb(93, 121, 93);
  font-size: 4em;
  float: left;
  width: 23%;
  height: 23%;
  margin: 1%;
  text-align: center;
  vertical-align: middle;
}

.emphyToken{
  color: white; /* #bebebe;*/
  cursor: move;
  background-color: white;
  font-size:4em;
  float: left;
  width: 23%;
  height: 23%;
  margin: 1%;
  text-align: center;
  vertical-align: middle;
}
 
