.App-header {
  background-color:  rgb(93, 121, 93);
  padding: 20px;
  color: white;
  
  text-align: justify;
}

.App-title {
  font-size: 1.5em;
}

button{
  color: white;
  background-color:rgb(93, 121, 93);
  font-size: 1em;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;   
  margin: auto;
  
}

.message{ 
  position: absolute; 
  color:rgb(93, 121, 93);
  z-index: 10;  
  font-size: 3em;
  font-weight: bolder;
  width: 100%;
  padding-bottom: 3em;
  padding-top: 3em;
  text-align: center;
  background-color:white;
}